---
import MainLayout from "../../../layouts/MainLayout.astro";
import SemesterProjectLayout from "@/layouts/SemesterProjectLayout.astro";
---

<MainLayout title="Xplore Research | EPFL Xplore">
  <h1>Xplore Research</h1>

  Xplore Research (XRE) is the third pole of EPFL Xplore, focusing on the development of innovative prototypes/solutions in space robotics.
  
  history:
  EPFL Xplore introduced the Research pole XRE in 2023. The primary goal of XRE was to provide a new platform for students who
  already worked on the European Rover Challenge (ERC) pole and wanted to tackle new ingeneering challenges. 

  During the fast 2 years students, most often enrolled in master’s programs, have been able to work on cutting-edge topics and develop proof-of-concept prototypes.
  The first one was a Recycling Plastic Project (WALL-E) that focused on recycling plastic waste into 3D printing filament.
  The second one was a legged robot project.
  The last one introduced is a full AI division that focuses on the development of AI-based solutions useful for the ERC. 

  ---

  Are you a Bachelor’s or Master’s student at EPFL with a passion for space robotics?
  Ready to take on real-world engineering challenges and build cutting-edge prototypes alongside your studies?
  Or are you interested in joining the EPFL Xplore for a semester project related to space engineering?

  Join Xplore Research (XRE) this September 

  • Propose Your Vision: Form a team, submit your project abstract, technical objectives, timeline and budget.
  • Secure Funding & Resources: Compete for XRE’s resources—lab space, equipment, and sponsorship—to turn your idea into reality.
  Take the leap. Shape the future of space robotics—together.

  or...

  Xplore Research (XRE) offers an opportunity for EPFL students to engage in semester projects. 
  These projects are designed to provide hands-on experience in engineering challenges and to be integrated into the EPFL Xplore ecosystem such as the Rover of the ERC.
  
  ---

  XRE complements the existing poles. It provides a platform for students to engage in research and development with 
  more advanced projects, leaving students - most often enrolled in master’s programs - explore cutting-edge topics and develop 
  proof-of-concept prototypes.




  <SemesterProjectLayout
    title="Comparative Analysis of MoveIt Planners on a 6-DoF Robotic Arm"
    major="Computer Science, Robotics"
    pole="European Rover Challenge"
    contact="arno.laurie@epfl-xplore.ch">
    <p>
      As part of EPFL Xplore’s robotics platform, this project aims to benchmark and optimize different motion planning algorithms provided by MoveIt for a 6-DoF robotic arm used on our Rover. By testing planners in simulation and on real hardware, we evaluate their speed, smoothness, and reliability under realistic payloads. The best-performing configuration will be integrated into the Rover’s manipulation system to ensure safe and efficient autonomous tasks.
    </p>
  </SemesterProjectLayout>

  <SemesterProjectLayout
    title="Evaluating and Optimizing Rover–Control Station Wireless Links"
    major="Communication Systems, Computer Science"
    pole="European Rover Challenge"
    contact="arno.laurie@epfl-xplore.ch">
    <p>
      This project focuses on improving the reliability and performance of the wireless communication between EPFL Xplore’s Mars Rover and its Control Station. By analyzing network performance under realistic conditions and building a dedicated testbench (both physical and simulated), the goal is to identify communication bottlenecks and test alternative solutions. The final outcome will guide the deployment of a robust, low-latency wireless setup for use during the European Rover Challenge.
    </p>
  </SemesterProjectLayout>

  <SemesterProjectLayout
    title="Modular 6D Pose Estimation for Real-Time Rover Manipulation"
    major="Computer Science, Robotics, Data Science"
    pole="European Rover Challenge"
    contact="arno.laurie@epfl-xplore.ch">
    <p>
      To enable fast and accurate object grasping during autonomous tasks, this project focuses on redesigning the 6D pose estimation pipeline used by EPFL Xplore’s Mars Rover. The goal is to modularize and optimize the current YOLOv8-based system, benchmark alternative methods like ZebraPose, and improve both detection speed and pose precision. The final pipeline will be integrated into the Rover’s manipulation stack for enhanced real-time performance during ERC missions.
    </p>
  </SemesterProjectLayout>

</MainLayout>
