---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Collaboration | EPFL Xplore">
  <h1>Collaboration</h1>
  <p>We love to share our projects and knowledge with the community.</p>
</MainLayout>
