---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Become a Sponsor | EPFL Xplore">
  <h1>Become a Sponsor</h1>
  <iframe
    src="https://docs.google.com/presentation/d/e/2PACX-1vRFC0MiqG19mlOrQCTQu5b516XWM6-7Dw_K2bphy6YwcLF8Igv4f1V11tJTEXJK_H38We78BYnTacy0/pubembed?start=true&loop=false&delayms=5000"
    frameborder="0"
    allowfullscreen="true"
    class="mx-auto mt-10 w-full h-screen"></iframe>
</MainLayout>
