---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Statuses | EPFL Xplore">
  <h1>Statuses</h1>
  <iframe
    src="https://drive.google.com/file/d/10l9gB5Jh5Zn8GBvWbEB6WTggNpsiCvXt/preview"
    class="mx-auto mt-10 w-full h-screen"
    allow="autoplay"></iframe>
</MainLayout>
