---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import SemesterProjectsGrid from "../../components/SemesterProjectsGrid";

const projects = await getCollection("semester-projects");
const typedProjects = projects as CollectionEntry<"semester-projects">[];
---

<MainLayout title="Semester Projects | EPFL Xplore">
  <h1>Semester Projects</h1>
  <SemesterProjectsGrid
    client:load
    projects={typedProjects.map((project) => ({
      title: project.data.title,
      major: project.data.major,
      pole: project.data.pole,
      contact: project.data.contact,
      applyLink: project.data.applyLink,
      slug: project.slug,
    }))}
  />
</MainLayout>
